name: Terraform Deployment

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  test:
    runs-on: [self-hosted, Windows, X64]
    steps:
    - name: "Hiii"
    - run: echo Hello world!

    - name: "ls command"
    - run: ls
